.App {
  text-align: center;
}

.App-input {
  margin-right: 1em;
  font-size: medium;
}

.App-button {
  cursor: pointer;
  color: #fff;
  background-color: rgb(48, 103, 223);
  border: 0;
  border-radius: 1em;
  font-size: medium;
  padding: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.todo-list {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.todo-done {
  text-decoration: line-through;
}
